body
a, h1, h2
h1, h2
h1
h2
.page
{ font-family: sans-serif; background: #eee; }
{ color: #377ba8; }
{ font-family: 'Georgia', serif; magin: 0; }
{ border-bottom: 2px solid #eee; }
{ font-size: 1.2em; }
{ margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
{ list-style: none; margin: 0; padding: 0; }
{ margin: 0.8em 1.2em; }
.entries
.entries li
.entries li h2 { margin-left: -lem; }
.add-entry
.add-entry dl
.metanav
.flash
.error
{ font-size: 0.9em; border-bottom: 1px solid #ccc; }
{ font-weight: bold; }
{ text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: lem; background: #fafafa; }
{ background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
{ background: #f0d6d6; padding: 0.5em; }